# Configuración de la base de datos
DB_HOST=localhost
DB_NAME=reservas_restaurantes
DB_USER=root
DB_PASS=

# Configuración para envío de correos
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Reservas Restaurantes"
